@font-face {

    font-family: track;

    src: url(http://apelband.com/assets/fonts/track.ttf);

}



@font-face {

    font-family: nexaslab;

    src: url(http://apelband.com/apelband/assets/fonts/nexaslab.otf);

}



@font-face {

    font-family: hagin;

    src: url(http://apelband.com/apelband/assets/fonts/hagin.otf);

}

body { 

	font-family: 'Bubblegum Sans', cursive;

	/*background: url(../../assets/images/bg.gif) no-repeat center center fixed; */

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;

	/*background: url(../../assets/images/bg.jpg) no-repeat center center fixed; 

	-webkit-background-size: cover;

	-moz-background-size: cover;

	-o-background-size: cover;

	background-size: cover;*/

}



#logo{

	width: 100%;

	padding: 5px 40px;

}



.navbar-default {

    background-color: rgba(17,17,17,0.8);

    border-color: rgba(17,17,17,1);

    height: 100px;

}



.navbar-nav > li > a {

    padding-bottom: 40px;

    padding-top: 40px;

}



.navbar-default .navbar-nav > li > a {

    color: #fc4fd5;

}



.navbar-default .navbar-nav > li > a:hover,

.navbar-default .navbar-nav > li > a:focus {

	background-color: rgba(17,17,17,0.9);

	color: #ffffff;

}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

	background-color: rgba(17,17,17,0.9);

	color: #ffffff;

}



.title {

	/*background-color: rgba(252,79,213,0.8);

	border-color: rgba(252,79,213,0.8);*/

	padding: 20px 30px 10px 30px;

	border-top-left-radius: 10px;

	border-top-right-radius: 10px;

	color: #fff;

	max-height: 130px;

}



#table-schedule td{

	vertical-align: middle;	

}



.table-schedule-date{

	color: #fc4fd5;

	background-color: #111;

	text-align:center;

}



.table-schedule-description {

	color: #fc4fd5;

	background-color: #333;

	padding: 15px 5px;

}



#blog-landing {

	position: relative;

	max-width: 100%;

	width: 95%;

	margin-left: 30px;

	margin-bottom: 30px;

}

#blog-landing img {

	width: 100%;

	max-width: 100%;

	height: auto;

}

.white-panel {

	position: absolute;

	background: rgba(255,255,255,0.8);

	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);

	padding: 7px;

	border-radius: 7px;

}



.white-panel:hover {

	background: #fc4fd5;

}



.pinterestgrid-title {

	color:#fc4fd5;

	padding: 10px 0;

}



.btn-warning{

	background-color: #fc4fd5;

	border: none;

	border-radius: 7px;

}



.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {

    background-color: #111;

    border-color: #111;

    color: #fc4fd5;

}



.panel {

	background-color: rgba(17,17,17,0.8);

	border-radius: 10px;

}



.footer {

    background-color: rgba(17,17,17,0.8);

    bottom: 0;

    height: 80px;

    width: 100%;

	color: #fc4fd5;

}



.footer a {

	color: #fff;

}



.copyright {

	padding-top: 35px;

}



.social-media {

	text-align: right;

}



.social-media img{

	margin-top: 20px;

	width: 50px;

}



.social-media :hover{

	opacity: 0.5;

}

.jumbotron {

	color: #fff;

    margin-top: 10px;

    margin-bottom: 70px;

	background:none;

	font-weight: bold;

	text-align: center;

}



.jumbotron span{

	color: #fff;

	font-weight: bold;

	background: rgba(17,17,17,0.8);

	padding: 5px 20px;

	border-radius: 10px;

}



.videos-home{

	width:50%;

}



.content-paragraf {

	color: #fff;

	padding: 0 30px;

	text-align: justify;

}



.content-paragraf-lyric{

	color: #fff;

	padding: 30px 30px;

	text-align: left;

	background: rgba(17,17,17,0.8);

}



.content-paragraf-img img{

	width: 100%;

	padding-left: 30px;

}



.content-theband-img img{

	width: 100%;

	margin-bottom: 30px;

}



.content-theband-img img:hover{

	opacity: 0.5;

}



.content-theband-description {

	background: #fc4fd5;

	color: #fff;

	padding: 0 30px;

}



.thebanddetail {

	background: rgba(17,17,17,0.8);

	color: #fff;

	padding: 30px;

	text-align: justify;

	

}



.video-play-ctrl {

	position: absolute;

	top: 40%;

    left: 40%;

    width: 20%;

}



.story {

	margin-bottom: 50px;
	padding: 10px;
}

.box-story {
	
	height: 170px;

	width: 100%;

	overflow-y: hidden;

}

.img-story {

	width: 100%;

	height: 170px;

	overflow-y: hidden;

}

#img-story {

	width: 100%;

	height: 170px;

	overflow-y: hidden;

}

